[Unit]
Description=Maltrail Sensor

After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
WorkingDirectory=/home/pi/maltrail

TimeoutStopSec=15
Restart=on-failure
RestartSec=10
Type=simple

#Only Internal via ARP
#ExecStartPre=/sbin/sysctl -w net.ipv4.ip_forward=1
#ExecStart=/bin/bash -c 'arpspoof -i enxb827eb99b8a3 192.168.0.1 > /var/log/arpspoof.log 2>&1 & python3 /home/pi/maltrail/sensor.py & python3 /home/pi/maltrail/server.py'

#Manuel SID
#ExecStart=/bin/bash -c 'curl -s --no-buffer "http://192.168.0.1/cgi-bin/capture_notimeout?sid=cefb8e0274de40cc&capture=Start&snaplen=1600&filter=&ifaceorminor=3-0" | pyth>

ExecStartPre=/bin/bash -c 'until /usr/local/bin/get_sid.sh && [ -s /run/maltrail_sid ]; do sleep 3; done'
ExecStart=/bin/bash -c '\
  curl -s --no-buffer \
    "http://192.168.0.1/cgi-bin/capture_notimeout?sid=$(cat /run/maltrail_sid)&capture=Start&snaplen=1600&filter=&ifaceorminor=3-0" \
  | python3 /home/pi/pcap_fix_final.py \
  | python3 /home/pi/maltrail/sensor.py -r - \
  & python3 /home/pi/maltrail/server.py'


User=root

[Install]
WantedBy=multi-user.target
