[Unit]
Description=Maltrail Sensor
After=network.target


[Service]
WorkingDirectory=/home/pi/maltrail
TimeoutStopSec=15
Restart=on-failure
RestartSec=10
Type=simple
KillMode=process

ExecStartPre=/bin/bash -c 'test -f /run/maltrail_sid || /usr/local/bin/get_sid.sh'
ExecStart=/bin/bash -c '\
  curl -s --no-buffer \
    "http://192.168.0.1/cgi-bin/capture_notimeout?sid=$(cat /run/maltrail_sid)&capture=Start&snaplen=1600&filter=&ifaceorminor=3-0" \
  | python3 /home/pi/pcap_fix_final.py \
  & python3 /home/pi/maltrail/server.py'

User=root

[Install]
WantedBy=multi-user.target
